@define-color bg_color #000000;
@define-color white_color #ffffff;

.partition_view {
    background-color: alpha(@white_color, 0.1);
    border-style: inset;
    border-radius: 10px;
}

.partition_view.view.cell:selected,
.partition_view.view.cell:selected:focus {
    background-color: alpha(@bg_color, 0.1);
    border-style: inset;
    border-radius: 10px;
}

.partition_scroll .scrollbar.trough {
    background-image: none;
    background-color: transparent;
    border-width:      0px;
    border-radius:      0px;
    margin: 1px;
}

.partition_scroll .scrollbar.slider {
    border-width: 0px;
    background-color: alpha(@bg_color, 0.2);
    border-radius: 10px;
    min-width: 6px;
    min-height: 30px;
}

.partition_scroll .scrollbar.stepper {
    min-width: 0px;
    min-height: 0px;
    margin: 1px;
}

.partition_scroll .scrollbar.button {
    border-width: 0px;
    background-color: alpha(@bg_color, 0.2);
    border-radius: 10px;
}


.partition_scroll .scrollbar.slider:hover {;
    background-color: alpha(@bg_color, 0.4);
}

.partition_scroll .scrollbar.slider:disabled {
    min-width: 0px;
}

.partition_scroll .scrollbar.trough:disabled {
    margin: 0px;
}

.partition_scroll .scrollbar.stepper:disabled {
    margin: 0px;
}

.background_img {
    background-image: url('data/moon_background.svg');
    background-repeat: no-repeat;
    background-position: 95% 90%;
}
